{%- for cls in classes %}
class {{ cls.name }}:
    def __init__(self, id{% if cls.attributes %}, {% for attr in cls.attributes %}{{ attr.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}):
        self.id = id
{%- for attr in cls.attributes %}
        self.{{ attr.name }} = {{ attr.name }}
{%- endfor %}

    def to_dict(self):
        return {
            "id": self.id{% if cls.attributes %},{% endif %}
{%- for attr in cls.attributes %}
            "{{ attr.name }}": self.{{ attr.name }}{% if not loop.last %},{% endif %}
{%- endfor %}
        }

{%- endfor %}