{%- for cls in classes %}
class {{ cls.name }}:
    def __init__(self, {{ cls.pk_name }}{% if cls.other_attributes %}, {% for attr in cls.other_attributes %}{{ attr.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}):
        self.{{ cls.pk_name }} = {{ cls.pk_name }}
        {% for attr in cls.other_attributes %}
        self.{{ attr.name }} = {{ attr.name }}
        {% endfor %}

    def to_dict(self):
        return {
            "{{ cls.pk_name }}": self.{{ cls.pk_name }}{% if cls.other_attributes %},{% endif %}
            {%- for attr in cls.other_attributes %}
            "{{ attr.name }}": self.{{ attr.name }}{% if not loop.last %},{% endif %}
            {%- endfor %}
        }


{% endfor %}